main {
  margin: auto 0;
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  /* border: 1px solid red; */
  padding: 5%;
  height: 100vh;
}

.view {
  width: 45%;
  height: 45%;
  /* border: 1px solid green; */
  border-radius: 1rem 1rem 0 0;
  position: relative;
  margin: auto 0;


}
.view::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 6rem solid rgb(34, 34, 197);
  border-right: 6rem solid transparent;
  border-radius: 1rem 0 0 0;
}

.new {
  /* border: 1px solid blue; */
  padding-top: 1.5rem;
  rotate: -45deg;
  width: 3rem;
  height: 3rem;
  padding-top: 1.5rem;
  text-align: center;
  color: white;
}


img {
  display: block;
  /* border: 1px solid blueviolet; */
  width: 60%;
  margin: 0 auto;
  object-fit:contain;

}

.naming {
  /* border: 1px solid pink; */
  min-width: 250px;
  height: 3.2rem;
  margin-bottom: 0;
  font-size: 1rem;
  color: blue;
  font-weight: 600;
  text-align: center;
  line-height: 3rem;
  background-color: rgb(245, 245, 245);

}



@media screen and (max-width: 980px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
  }  
  .view {
    width: 100%;
    height: 60%;
    /* border: 1px solid green; */
    border-radius: 1rem 1rem 0 0;
    position: relative;
    margin: auto 0;
  
  
  }
  






}

