/* --------------------------------
hero
-------------------------------- */
.hero {
    max-height: 70rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem 1rem 1rem 1rem;
    padding-bottom: 3rem;
    background: linear-gradient(white, rgb(234, 234, 234), rgb(173, 173, 173));
}

.hero section {
    max-height: 40rem;
    width: 30%;
    margin: 0 auto;

}

.hero figure {
    max-height: 40rem;
    width:100%;
    object-fit: fit;
}

.hero img {
    display: block;
    max-height: 40rem;
    width: 100%;
}

.hero p {
    display: block;
    height: 1rem;
    width: 100%;
    height: 2rem;
    margin-left: 0.5rem;
    line-height: 2rem;
    margin-top: 2rem;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 760px) {
    .hero p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .hero p {
        font-size: 0.9rem;
    }

    .hero {
        max-height: 8rem;
    }

}

/* --------------------------------
more
-------------------------------- */
.littlemore {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 20rem;
    height: 4rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.morecenter {
    display: flex;
    width: 96%;
    gap: 3rem;
    margin: 0 1rem;
    /* border: 1px red solid; */
}
.beans {
width: 60%;
    /* border: 1px red solid;  */
}
.beans img {
    max-width: 100%;
    object-fit: cover;
}
.cups {
    width: 40%;
    background-color: rgb(173 188 200);
    z-index: 1/4;
    */
}
.cupexplain p {
    margin: 10px 0;
    text-align: center;
}
.cupexplain p:nth-child(3) {
    margin: 20px 0;
}
.cups img {
    display: block;
    width: 40%;
    color: black;
    z-index: 2;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 760px) {
    .beans img {
min-height: 282px;
    }
    .littlemore {
        width: 16rem;
    }
    .littlemore p {
        font-size: 1rem;
    }

    .cupexplain p {
        font-size: 1rem;
    }
    .cups {
max-height: 450px;
    }
}

@media screen and (max-width: 480px) {
    .cupexplain p {
        line-height: 2rem;
        font-size: 1rem;
        text-align: center;
    }
}

/* --------------------------------
about
-------------------------------- */
.about{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1rem 1rem;
    width: 96%;
    /* border: 1px red solid; */
}
.about>div:nth-child(1){
    width: 64%;
    margin-left: 0;
    /* border: 1px red solid; */
}
.about>div:nth-child(2){
    width: 36%;
    /* border: 1px red solid;     */
}
.about>div:nth-child(2) p{
    width:100px;
    margin: 2rem 1rem;

}
.about>div:nth-child(2) ul{
text-decoration: none;
text-align: left;
margin-left: 3rem;
margin-bottom: 3rem;

}
.about>div:nth-child(2) li{
list-style: none;
font-size: 2vh;
margin-bottom: 1.5rem;
border-bottom: 1px solid rgba(51, 50, 50, 0.237);
}
.about>div:nth-child(2) li:nth-child(1){
    margin: 3rem auto;
    text-align: center;
    /* border-bottom: 1px solid black; */
    }
.about img{
    margin-top: 2rem;
    width: 100%;
}


/* --------------------------------
index
-------------------------------- */
.index{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.left{
    width: 65%;
}
.right{
    width:30%
}.left img{
    width:100%;
}
.right img{
    width:100%