/* /////////////////////////////////////
common
///////////////////////////////////// */
body {
    font-family: "Roboto", sans-serif;
}


@media only screen and (max-width:768px) {}

/*/////////////////////////////////////
 hero
/////////////////////////////////////*/
.hero {
    padding: 90px 0;
    background-color: #fffffe;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.row-reverse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    flex-direction: row-reverse;
}

.col {
    width: 48%;
}

.heading {
    font-size: 24px;
    font-weight: 700;
    color: #3da9fc;
    margin-bottom: 24px;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    color: #094067;
    margin-bottom: 30px;
}

.text {
    line-height: 1.6;

}

@media only screen and (max-width:768px) {
    .row {
        flex-wrap: wrap;
    }

    .col {
        width: 100%;
    }

    heading {
        font-size: 20px;
        margin-bottom: 14px;
    }

    h3 {
        font-size: 26px;
        margin-bottom: 16px;

    }

}

/*////////////////////////////////////
 about
////////////////////////////////////*/


@media only screen and (max-width:768px) {}


/*///////////////////////////////////
 service 
////////////////////////////////////*/
@media only screen and (max-width:768px) {}



/*////////////////////////////////////
 company 
////////////////////////////////////*/
@media only screen and (max-width:768px) {}

/*////////////////////////////////////
contact
////////////////////////////////////*/
@media only screen and (max-width:768px) {}

/*///////////////////////////////////
 footer 
///////////////////////////////////*/


@media only screen and (max-width:768px) {}