h1 {
    color: brown;
    font-size: 40px;
}

h2 {
    background-color: chartreuse;
    font-size: 30px;
    color: white;
    padding: 20px;
    margin: 20px;
}

img {
    width: 50%;
}

header {
    background-color: tomato;
    height: 100px;
    padding: 20px;
    margin: 20px;
}

.contents {
    text-align: center;
}

footer {
    background-color: violet;
    border: solid 2px red;
    padding: 20px;
    height: 100px;
    text-align: center;
    margin-top: 20px;
    line-height: 100px;
}