/* /////////////////////////////////////
common
///////////////////////////////////// */
body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    color: #ffffff;
    background-color: #16161a;
}

@media only screen and (max-width:768px) {}

/*/////////////////////////////////////
 header
/////////////////////////////////////*/
header {
    font-weight: 700;
    position: absolute;
    width: 100%;
    z-index: 3;
}

header .container {
    min-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

header .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

header .logo {
    font-size: 24px;
}

header ul {
    display: flex;
}

header ul li {
    margin-left: 30px;
    font-size: 14px;
    letter-spacing: 1px;
}

@media only screen and (max-width:768px) {}


/*////////////////////////////////////
 hero
////////////////////////////////////*/
.hero {
    background-image: url(image01.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero .filter {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero .container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative;
}

.hero .heading {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #2cb67d;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.hero .text {
    font-size: 20px;
    margin-bottom: 40px;
}

.hero a {
    font-size: 16px;
    font-weight: 700;
    padding: 16px 40px 20px 40px;
    display: inline-block;
    background-color: #7f5af0;
    border-radius: 6px;
    letter-spacing: 2px;
    transition-duration: 0.2s;
}

.hero a:hover {
    background-color: #2cb67d;
}

@media only screen and (max-width:768px) {}


/*///////////////////////////////////
 service 
////////////////////////////////////*/
.service {
    margin-bottom: 45px;
}

.service .container {
    min-width: 1080px;
    width: 90%;
    margin: auto 0;
}

.service .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: translateY(-48px);
    z-index: 2;
    position: relative;
}

.service .col {
    background-color: #fff;
    width: 32%;
    color: #16161a;
    padding: 20px;
}

.service img {
    background-color: #7f5af0;
    width: 60px;
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 16px;
}

.service h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.service hr {
    border: solid 2px #2cb67d;
    margin-bottom: 16px;
    width: 48px;
}

.service .text {
    font-size: 15px;
    line-height: 1.5;
}


@media only screen and (max-width:768px) {
    .service .row {
        display: block;
        z-index: 2;
        position: relative;
        width: 100%;
        margin: 0 18%;
        padding: 0;
    }

    .service .col {
        width: 30%;
    }
}

.service .container {
    max-width: 768px;
    width: 90%;
    margin: auto 0;
}


/*////////////////////////////////////
 company 
////////////////////////////////////*/
.company {
    padding: 45px;
    margin-bottom: 60px;
}

.company .container {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

.company .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
}

.company .col {
    width: 46%;
}

.company h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 1.3;
}

.company hr {
    border: solid 2px #2cb67d;
    margin-bottom: 20px;
    width: 60px;
}

.company .text {
    line-height: 1.5;
}


@media only screen and (max-width:768px) {
    .company .row {
        display: block;
        z-index: 2;
        position: relative;
        width: 100%;
        margin: 0 10% 10px;
        padding: 0;
    }

    .company .col {
        width: 90%;
    }

}

/*////////////////////////////////////
news
////////////////////////////////////*/
.news {
    padding-top: 60px;
    margin-bottom: 60px;
}

.news .container {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

.news h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.news hr {
    border: solid 2px #2cd67d;
    margin: 0 auto 40px;
    width: 60px;
}

.news ul {
    max-width: 700px;
    margin: 0 auto;

}

.news li {
    border: solid 1px #ffffff;
    margin-bottom: 20px;
    padding: 16px 24px;
}

.news .date {
    color: #7f5af0;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 6px;
}

@media only screen and (max-width:768px) {
    .news .container {
        max-width: 700px;
        width: 80%;
        margin: 0 auto;
    }
}

/*///////////////////////////////////
 info 
///////////////////////////////////*/
.info {
    padding-top: 60px;
    margin-bottom: 130px;
}

.info .container {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

.info h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.info hr {
    border: solid 2px #2cb67d;
    margin: 0 auto 40px;
    width: 60px;
}

.info form,
textarea {
    max-width: 540px;
    margin: 0 auto;
}

.info label {
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
}

.info input,
textarea {
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 13px 16px;
    margin-bottom: 30px;
    color: #16161a;
}

.info input[type=submit] {
    text-align: center;
    background-color: #7f5af0;
    color: #ffffff;
    font-weight: 700;
    padding: 20px 16px 22px;
    letter-spacing: 6px;
    border-radius: 6px;
    transition-duration: .2s;
}

.info input[type=submit]:hover {
    background-color: #2cb67d;

}

/*///////////////////////////////////
 footer 
///////////////////////////////////*/
footer {
    background-color: #fff;
    text-align: center;
    color: #16161a;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 20px 0;
}

@media only screen and (max-width:768px) {}